<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/public/2AF.css">
  <title>Verificação 2FA</title>
</head>
<body>
  <div class="container">
  <div class="security-character">
    <span>&#128737;</span>
  </div>

  <h1>Verificação de Dois Fatores</h1>
  <p>Enviamos um código de 6 dígitos para seu e-mail. Por favor, digite abaixo:</p>
  <% if (erro) { %>
    <p class="error-message"><%= erro %></p>
  <% } %>

  <form action="/verify-2fa" method="POST">
    <input type="text" name="code" placeholder="------" required maxlength="6" pattern="\d{6}" inputmode="numeric" />
    <button type="submit">Verificar</button>
  </form>
</div>
</body>
</html>
